/*
Ενδεικτικοί επιλογείς για τη διαμόρφωση του στυλ

Μπορείτε να προσθέσετε τις δηλώσεις στους παρακάτω κανόνες και να εμπλουτίσετε με δικούς σας κανόνες.
*/

/* Χρειάζεται για να φανούν οι σημαίες στους φυλλομετρητές chrome-based από Windows 10 */

/*============
  Global
  ===========*/

@font-face {
  font-family: "TwemojiMozilla";
  src: url("TwemojiMozilla.ttf");
}

/* Variables */
:root {
  --box-radius: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", "TwemojiMozilla";
  /* Η γραμματοσειρά open sans φορτώνεται στο αρχείο html*/
  background-color: #fff;
  color: #444;
}

.game-panel {
  display: grid;
  grid-template: 1fr /1fr 4fr;
  grid-template-areas: "side main";
  grid-gap: 0.3em;
  margin: 40px;
}

/*============
  Game bar
  ===========*/

#sidebar {
  grid-area: side;
  background-color: #f47b20;
  border-radius: var(--box-radius);
  min-width: 170px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

#sidebar > * {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* game info placement */

.game-info-container {
  display: grid;
  grid-template-areas: "lebel value" "lebel value";
}

.game-value {
  margin-left: auto;
}

/* buttons */

.btn {
  font-size: 0.75em;
  background-color: #fcfcfc;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: var(--box-radius);
  margin: 10px;
  margin-bottom: 20px;
  box-sizing: content-box; /* todo γιατι? */
  cursor: unset;
}

#btn-next-round {
  margin-top: auto;
  color: gray;
}

.btn-active {
  cursor: pointer;
  color: rgb(78, 78, 78) !important;
}

.btn-active:hover {
  background-color: lightgray;
  color: grey;
}

/*============
  Main game
  ===========*/

main {
  grid-template-areas: "main";
}

#my-country {
  display: flex;
  background-color: grey;
  height: auto;
  color: whitesmoke;
  margin-bottom: 0.3em;
  border-radius: var(--box-radius);
}

#my-country :is(span, h1) {
  display: inline-block;
  font-size: 2.5em;
  margin: 0;
  padding: 15px;
}

/* Progress bar */

#progress {
  border-radius: var(--box-radius);
  background-color: lightgray;
  height: 1.5em;
  overflow: hidden;
  z-index: 2;
}

#current-progress {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  width: 0;
  background-color: #2e3192;
  height: 100%;
  transition: width ease-in-out 150ms;
}

/*============
  Neighbours
  ===========*/

#neighbours-panel {
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}

#neighbours-panel::before {
  background-color: rgba(112, 112, 112, 0.75);
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  content: attr(data-game-state);
  visibility: hidden;
  border-radius: var(--box-radius);
}

#neighbours-panel[data-game-state="Τους βρήκατε όλους!"]::before {
  visibility: visible;
}

#neighbours-panel[data-game-state="Κρίμα, χάσατε!"]::before {
  color: rgb(122, 4, 4);
  visibility: visible;
}

article {
  --box-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: var(--box-radius);
  height: 200px;
  width: 135px;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 5px;
}

article:hover {
  background-color: gray;
  cursor: pointer;
  transition: background-color ease-out 0.4s;
}

article div {
  font-size: 4.5em;
}

article p {
  font-size: 1.2em;
}

h1 {
  display: inline;
}

article.neighbour-is-valid {
  background-color: lightgrey;
  border: 4px solid green !important;
}

article.neighbour-is-invalid {
  background-color: lightgrey;
  border: 4px solid red;
}

article.neighbour-was-correct {
  background-color: lightgrey;
  border: 4px solid orange;
}

@media only screen and (max-width: 800px) {
  .game-panel {
    display: block;
  }

  #sidebar {
    margin-bottom: 5px;
  }

  #progress {
    position: sticky;
    top: 5px;
  }
}

/* ---------------------------------------------- */

/* ειδικά για τους φυλλομετρητές που προέρχονται από τον chrome καθώς 
υποστηρίζουν λιγότερο καλά το στοιχείο progress από ότι ο firefox,
όσον αφορά το CSS (που και σε αυτόν έχει προβληματική υποστήριξη)
*/

#progress::-webkit-progress-bar {
  border-radius: var(--box-radius);
}
