@import "/src/styles/variables";

.sidebar {
  grid-area: side;
  background-color: $primary-color;
  border-radius: $box-radius;
  min-width: 170px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  &__info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__label {
      grid-column: 1/2;
    }

    &__value {
      grid-column: 2/3;
      margin-left: auto;
    }
  }


  &__btn {
    margin-top: auto !important;

    &:last-child {
      margin-top: 0 !important;
    }
  }

  @media only screen and (max-width: 800px) {
    margin-bottom: 5px;
  }
}
