@import "../../styles/variables";

.country-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 135px;
  justify-content: space-evenly;
  flex-grow: 1;

  &:hover {
    background-color: $selcted-card-background-color;
    cursor: pointer;
    transition: background-color ease-out 0.4s;
  }

  &__icon {
    font-size: 4.5em;
  }

  &__name {
    font-size: 1.2em;
  }

  &.correct {
    background-color: $selcted-card-background-color;
    border: 4px solid green !important;
  }

  &.incorrect {
    background-color: $selcted-card-background-color;
    border: 4px solid red;
  }

  &.not-found {
    background-color: $selcted-card-background-color;
    border: 4px solid orange;
  }
}
