@font-face {
  font-family: "TwemojiMozilla";
  src: url("/TwemojiMozilla.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans";
  background-color: #fff;
  color: #444;
}

.game-panel {
  display: grid;
  grid-template: 1fr /1fr 4fr;
  grid-template-areas: "side main";
  grid-gap: 0.3em;
  margin: 40px;

  &__main-section {
    grid-template-areas: "main";
  }

  @media only screen and (max-width: 800px) {
      display: block;
  }
}

